.body
{
    margin: 0px;
    padding: 0px;
}

.topnav
{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    background-color: var(--bg-dark2);
    padding: 10px;
    box-shadow: var(--shadow-s);
}

.topnav a
{
    font-family: Arial, sans-serif;
    float: left;
    text-align: center;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    color: var(--text-dark);
    font-size: 16px;
    text-decoration: none;
}

.topnav a.active
{
    border-radius: 5px;
    background-color: var(--bg);
    padding: 5px;
    box-shadow: var(--shadow-m);
}